.footer__top
  .container-fluid.px-0
   .row.no-gutters
      .footer__col
        .footer__logo: img(src='img/logo.png' alt='Цвет-база.рф')
        .footer__tel
          a(href="tel:+7-987-053-07-77") +7-987-053-07-77
          a(href="tel:+7-3473-303-515") +7-3473-303-515
          a(href="tel:+7-987-053-07-77") +7-987-053-07-77
          span.icon_custom.phone-call
        .footer__contacts
          span.icon_custom.map
          span  Стерлитамак, Черноморская 18
        a(href='').footer__contacts
          span.icon_custom.mail
          span  seller@цвет-база.рф
        .footer__contacts
          span.icon_custom.time
          span  Круглосуточно
      .footer__col.hidden-sm-down
        .footer__header Меню
        ul.footer__list
          -var data = ['О компани', 'Онлайн-Витрина', 'Новости', 'Контакты', 'Доставка', 'Оплата']
            each val in data
              li.footer__list-item
                a(href=('#')).footer__link=val

      .footer__col.hidden-sm-down
        .footer__header Каталог
        ul.footer__list
          -var data = ['Цветы', 'Розы', 'Букеты', 'Композиции', 'Повод', 'Подарки']
            each val in data
              li.footer__list-item
                a(href=('#')).footer__link=val

      .footer__form-col
        .footer__header
          form(action="/search/" method="get")
            .footer__form.form-group
              input.form-control.-default-(value="" type="text" name="" autocomplete="off" placeholder=" Поиск по сайту")
              button(type="submit").footer__btn
                span.icon_custom.lens
                
        .footer__absolute-block
          .footer__social
            span Мы в соцсетях:
            img(src='./img/social_del.png' alt='')
            //span vk
            //span insta
          .footer__payment
            span Способы оплаты:
            .row.no-gutters
              .col
                img(src='./img/payment_1.png' alt='')
              .col
                img(src='./img/payment_2.png' alt='')
              .col
                img(src='./img/payment_3.png' alt='')
              .col
                img(src='./img/payment_4.png' alt='')
              .col
                img(src='./img/payment_5.png' alt='')
              .col
                img(src='./img/payment_6.png' alt='')

.footer__bottom_wrapper
  .container-fluid.px-0
    .footer__bottom
      div © 2017-2019 Интернет магазин цветов #[a(href='').footer__bottom_link Цвет-База.рф]
      div Разработано #[a(href='').footer__bottom_link Digital Clouds]
