.header-top_bg
  .container-fluid.px-0
    .header-top
      .row.no-gutters
        .col-md-6.col-11.header-top__right
          a(href='#').header-top__link
            span.icon_custom.map
            span.header-top__city Стерлитамак
          div
            span.icon_custom.time
            span.header-top__text  Работаем круглосуточно

        .col-md-6.col-1
          div.header-top__left
            a(href='#').header-top__link: span.icon_custom.user
            a(href='#').header-top__link.hidden-sm-down: span.border-bottom_dashed  Вход
            a(href='#').header-top__link.hidden-sm-down: span.border-bottom_dashed  Регистрация
.container-fluid.px-0
  .row.no-gutters.header-center.row-custom.hidden-sm-down
    .col-xl-3.col-lg-3.col-md_1.col-sm-4
      a(href=('#')).logo: img(src='img/logo.png')
    .col-xl-7.col-lg-6.col-md_2
      nav.nav-sm
        a(href=('#')).nav-sm__item
          span.icon_custom.pay
          span.nav-sm__text Оплата
        a(href=('#')).nav-sm__item
          span.icon_custom.delivery
          span.nav-sm__text Доставка
        a(href=('#')).nav-sm__item
          span.icon_custom.flower
          span.nav-sm__text Онлайн вирина
    .col-xl-2.col-lg-3.col-md_3
      a(href="tel:+7-987-053-07-77").header__tel +7-987-0530-777
      a(href="tel:+7-3473-303-515").header__tel +7-3473-303-515

  nav.navbar-expand-md  
    .navbar.collapse.navbar-collapse#navbar
      button.navbar-toggler(class='btn-close' type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbarnavbar', aria-expanded='false', aria-label='Toggle navigation')
        span.btn-close__icon
      ul.navbar__nav
        -var data = ['Цветы', 'Розы', 'Букеты', 'Композиции', 'Повод', 'Подарки']
          each val in data
            li.navbar__item.js-dropdown
              a(href=('#') data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").navbar__link.dropdown
                span=val
                span.icon_custom.ctrl
              ul.dropdown-menu.navbar-dropdown
                -var data_1 = ['Пункт меню', 'Еще один пункт меню', 'Следующий пункт меню', 'Очерндной пункт меню', 'Пункт меню', 'Еще один пункт меню', 'Следующий пункт меню', 'Очерeдной пункт меню']
                  each val in data_1
                    li.navbar-dropdown__item: a(href=('#')).navbar-dropdown__link=val
          li.navbar__search.hidden-sm-down
            +search-form(true).search-form_lg
          li.navbar__cart.hidden-sm-down
            a(href='').navbar__cart-icon
              span.icon-block
                span.icon_custom.cart
                span.counter 0
              span.hidden-md-down В вашей корзине пока пусто

  .mobile-menu
    button.navbar-toggler(class='btn-open' type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbarnavbar', aria-expanded='false', aria-label='Toggle navigation')
      span.btn-open__icon
    
    a(href=('#')).logo: img(src='img/logo.png')
      
    .mobile-menu__icons
      .mobile-menu__icon
        +search-form.search-form_sm
      a(href=('#')).mobile-menu__icon: span.icon_custom.cart
      a(href=('#')).mobile-menu__icon: span.icon_custom.phone-call

      
