extends ./components/_layout.pug

block local_vars
  //- - var headerClass = ``
  //- - var contentClass = ``
  //- - var footerClass = ``
  //- - var breadCrumbsClass = ``
  //- - var isLogin = true
  - var title = "Главная страница"

block bread_crumbs

block content
  .container-fluid.px-0
    .row.no-gutters
      .col-sm-12
        .main-slider
          .main-slider__nav
            .js-slick-prev.slick-prev: span.icon_custom.ctrl
            .js-slick-next.slick-next: span.icon_custom.ctrl
          .main-slider__inner.slick_init.js-slick(data-slick="banner")
            - for (var x = 1; x < 4; x++)
              .main-slider__item
                img(src='./img/banner.jpg').main-slider__img
                .main-slider__content
                  h1.main-slider__header  Заголовок баннера
                  p.main-slider__description.hidden-sm-down Краткое описание баннера <br> в две строки
                  a(href='').main-slider__btn.gradient.gradient_green: span Подробнее
                  .counter
                    span.counter__dot
                    span.counter__amount.js-count 1
                    span.counter__dot

    .row.no-gutters.hidden-sm-down
      .col-sm-12.advertising
        .advertising__content
          .advertising__item
            img(src='./img/chek_frame.svg')
            p.advertising__text Гарантия качества всех товаров магазина!
          .advertising__item
            img(src='./img/percent.svg')
            p.advertising__text Низкие цены!
          .advertising__item
            img(src='./img/car.svg')
            p.advertising__text Бесплатная доставка при заказе от 1000 рублей!

    section.section.row.no-gutters.border-bottom
      .col-12.section__header
        .col-6
          h2.h2 Хит продаж
        .col-6.text-right
          a(href='#').btn_custom.gradient.gradient_green
            span Все хиты
      .col-12
        .section__slider-wrapper
          .section__slider
            .slider__nav
              .js-slick-prev.slick-prev: span.icon_custom.ctrl
              .js-slick-next.slick-next: span.icon_custom.ctrl
            .slider.slick_init.js-slick(data-slick="mainPage")
              .slider__item
                +product_card-sm('hit_1')
              .slider__item
                +product_card-sm('hit_2')
                  +label('orange') sale
              .slider__item
                +product_card-sm()
                    +label('green') new

              - for (var x = 1; x < 9; x++)
                  .slider__item
                    +product_card-sm()

    section.section.row.no-gutters.border-bottom
      .col-12.section__header
        .col-6
          h2.h2 Акции
        .col-6.text-right
          a(href='#').btn_custom.gradient.gradient_green
            span Все акции
      .col-12
        .section__slider-wrapper
          .section__slider
            .slider__nav
              .js-slick-prev.slick-prev: span.icon_custom.ctrl
              .js-slick-next.slick-next: span.icon_custom.ctrl
            .slider.slick_init.js-slick(data-slick="mainPage")
              .slider__item
                +product_card-sm('special_1')
              .slider__item
                +product_card-sm('special_2')
                  +label('orange') sale
              .slider__item
                +product_card-sm('special_3')
                    +label('green') new

              - for (var x = 1; x < 9; x++)
                  .slider__item
                    +product_card-sm('special_4')

    section.section.row.no-gutters
      .col-12.section__header
        .col-6
          h2.h2 Букеты из роз
        .col-6.text-right
          a(href='#').btn_custom.gradient.gradient_green
            span Все букеты из роз
      .col-12
        .section__slider-wrapper
          .section__slider
            .slider__nav
              .js-slick-prev.slick-prev: span.icon_custom.ctrl
              .js-slick-next.slick-next: span.icon_custom.ctrl
            .slider.slick_init.js-slick(data-slick="mainPage")
              .slider__item
                +product_card-sm('bouquet_1')
              .slider__item
                +product_card-sm('bouquet_2')
                  +label('orange') sale
              .slider__item
                +product_card-sm('bouquet_3')
                    +label('green') new

              - for (var x = 1; x < 9; x++)
                  .slider__item
                    +product_card-sm('bouquet_4')
    section.row.no-gutters.section-about
      picture.section-about__bg
        <source media="(max-width: 320px)" srcset="./img/video_bg_sm.jpg">
        img(src='./img/video_bg.jpg' alt='')

      .col-md-6.col-sm-12
        .video
          .video__wrapper
            .video__poster.js-playVideo
              img(src='./img/poster.jpg')
              span.icon_custom.triangle
            .video__content
              video( src='./img/coverr.mp4' controls)
      .col-md-6.col-sm-12
        .section-about__text
          h2.section__header О компании
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat erat ut lorem bibendum, sit amet convallis erat pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris ornare diam ut consectetur mollis. Nam semper tempus neque non consequat. Aliquam viverra ipsum vel risus porta rutrum. Donec eget viverra libero.#[span.hidden-md-down Mauris et mauris velit. Suspendisse luctus congue dolor vel malesuada. Sed vel ipsum dapibus, ultricesneque quis, eleifend elit. Sed eget mauris et ligula ultrices congue vitae ut ligula.]
          a(href='#').btn_custom.gradient.gradient_violet
            span Подробнее

    section.row.no-gutters.section-news
      .col-12.section__header
        .col-6
          h2.h2 Новости
        .col-6.text-right
          a(href='#').btn_custom.gradient.gradient_green
            span Все новости
      .col-12
        .section-news__content
          .section-news__item
            +news('news_1')
          .section-news__item.hidden-sm-down
            +news('news_2')
          .section-news__item.hidden-lg-down
            +news('news_1')





mixin news(imgName)
  .news
    .news__img: img(src=`./img/${imgName}.png`)
    .news__content
      a(href='#').news__header Открыие магазина Цвет-База.рф
      .news__date
        span.icon_custom.time
        span 01.06.2017
      p.news__text  С 1 июня 2017 мы открываем наш магазин. Цвет-база.рф - это магазин цветов нового формата.
