@import './__my__vars.scss';

/* slick */
.slick {
  &_init {
    display: none;
    &.slick-initialized {
      display: block;
    }
  }
}
  .slick-prev,
  .slick-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $light-black;
    cursor: pointer;

    .ctrl {
      color: #fff;
    }

    &:hover {
      background-color: $green_4;
    }
  }

  .slick-next {
    .ctrl {
      transform: rotate(90deg);
    }
  }

  .slick-prev {
    .ctrl {
      transform: rotate(-90deg);
    }
  }

/* slick */
