@import './__my__vars.scss';
/* footer */
.footer {
  &_wrapper_global {
    flex: 0 0 auto;
  }

  &__top {
    background-color: $sand;
    padding-top: 8px;
    padding-bottom: 30px;
    font-size: 14px;
    @include media-breakpoint-down(md) {
    padding-bottom: 35px;
    }
    @include media-breakpoint-down(xs) {
      font-size: 12px;
      padding-bottom: 15px;
    }

    .row {
      position: relative;
    }
  }

  &__header,
  &__logo {
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    font-weight: 600;
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      height: 58px;
      margin-bottom: 23px;

      img {
        max-width: 191px;
      }
    }

    @include media-breakpoint-down(sm) {
      height: auto;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 63px;
      height: 2px;
      background-color: $green_hover_1;
    }
  }

  &__logo {
    @include media-breakpoint-down(md) {
      align-items: flex-start;

      img {
        max-width: 191px;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-top: 12px;
      padding-bottom: 18px;
      margin-bottom: 18px;
    }
  }

  &__form {
    position: relative;
    max-width: 370px;

    @include media-breakpoint-down(xs) {
      max-width: initial;
    }

    .form-control {
      padding-right: 40px;
    }

    &:focus,
    &:hover {
      .lens {
        &:before {
          color: $green_1;
        }
      }
    }
  }

  &__btn {
    display: block;
    position: absolute;
    right: 6px;
    top: 0;
    line-height: 34px;
    font-size: 20px;
    z-index: 1;
    background-color: transparent;
    border: none;
    color: inherit;

    & .lens:before {
      color: #000;
    }
  }

  &__list-item {
    padding-bottom: 17px;
    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
    }
  }

  &__link {
    line-height: 1.375;
    color: inherit;

    &:hover {
      color: $green_hover_2;
      transition: $ease-main;
    }
  }

  &__tel {
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: $green_2;
    margin-bottom: 23px;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
    }



    a {
      display: block;
      color: inherit;
      margin-bottom: 8px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 3px;
      }
    }

    .phone-call {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 27.5px;
      font-size: 16px;
    }
  }

  &__col {
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 10px;
    }

    &:first-child {
      padding-right: 110px;
      flex: 0 0 260px;
      box-sizing: content-box;
      @include media-breakpoint-down(lg) {
        padding-right: 30px;
      }
      @include media-breakpoint-down(md) {
        padding-right: 10px;
      }
      @include media-breakpoint-down(xs) {
        flex: 0 0 100%;
        padding-right: 10px;
        box-sizing: border-box;
      }
    }


  }

  &__form-col {
    position: relative;
    flex: 0 0 370px;
    box-sizing: content-box;
    padding-right: 15px;
    padding-left: 15px;
    // @include media-breakpoint-down(lg) {
    //   margin-left: auto;
    //   padding-top: 20px;
    //   position: static;
    //
    //   .footer__header {
    //     margin-bottom: 0;
    //     align-items: flex-end;
    //
    //     &:before {
    //       content: none;
    //     }
    //   }
    // }

    @include media-breakpoint-down(md) {
      position: static;
      flex-basis: 50%;
      box-sizing: border-box;

      //

      //
      //
      margin-left: auto;
      padding-top: 20px;

      .footer__header {
        margin-bottom: 0;
        align-items: flex-end;

        // @include media-breakpoint-down(sm) {
        //   flex-basis: 100%;
        //   align-items: center;
        //   padding-top: 10px;
        //   margin-bottom: 10px;
        // }

        &:before {
          content: none;
        }
      }
      .footer__header {
        // @include media-breakpoint-down(md) {
        //   align-items: flex-start;
        // }
        @include media-breakpoint-down(sm) {
          flex-basis: 100%;
          align-items: center;
          padding-top: 10px;
          margin-bottom: 10px;
        }

        @include media-breakpoint-down(xs) {
          flex-basis: 100%;
          align-items: center;
          padding-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
    @include media-breakpoint-between(xs, sm) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 10px;

      .footer__header {
          align-items: flex-start;
         }

    }
    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      box-sizing: border-box;
      margin-left: initial;
      padding-left: 10px;
      padding-top: 0;
    }

    form {
      width: 100%;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    color: #777;
    margin-bottom: 10px;

    .icon_custom {
      color: #000;
      font-size: 16px;
      margin-right: 10px;
    }
  }

  &__absolute-block {
    position: absolute;
    left: 15px;
    bottom: 0;
    padding-bottom: 15px;
    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
      position: static;
      padding-left: 0;
    }
  }

  &__payment {
    span {
      display: block;
      margin-bottom: 15px;
    }
    .col {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__social {
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
        margin-bottom: 14px;
    }

    span {
      padding-right: 10px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 16px 17px 14px 15px;
    color: $dark-gray;

    @include media-breakpoint-down(md) {
          padding: 15px 15px 10px 15px;
    }
    @include media-breakpoint-down(sm) {
      display: block;
      padding: 12px 1px 1px 10px;

      div {
        margin-bottom: 9px;
      }
    }
    @include media-breakpoint-down(xs) {
      padding-top: 12px;
      font-size: 12px;
    }
    &_wrapper {
      background-color: $dark-sand;
    }
    &_link {
      color: #73B640;
      text-decoration: underline;

      &:hover {
        color: #00A568;
        transition: $ease-main;
      }
    }
  }
}
/* footer */
