@import './__my__vars.scss'; /* header */

.header {
  &_wrapper_global {
    flex: 0 0 auto;
  }

  &__tel {
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: inherit;
  }
}

.header-top {
  &_bg {
    background-color: $another-gray;
  }
  font-size: 12px;
  padding: 6px 6px 4px 15px;
  @include media-breakpoint-down(sm) {
    font-size: 11px;
    padding: 6px 1px 6px 10px;
  }

  &__right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    div {
      display: flex;
      align-items: center;
    }
  }

  &__left {
    display: flex;
    justify-content: flex-end;

    .header-top__link:last-child {
      position: relative;
      padding-left: 10px;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        height: 12px;
        background-color: $font-color;
        top: 0px;
        left: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $b-link-color;
    padding-right: 10px;
    @include media-breakpoint-down(md) {
      padding-right: 7px;
    }
    @include media-breakpoint-down(sm) {
      padding-right: 0;
    }

    .user {
      color: #000;
    }

    &:hover {
      color: $green_hover_1;
      transition: $ease-main;
      text-decoration: inherit;

      .map {
        color: inherit;
      }

      .border-bottom {
        &_dashed {
          border-bottom-color: inherit;
        }
      }
    }
  }

  &__city {
    text-decoration: underline;
    padding-right: 10px;
  }

  .border-bottom {
    &_dashed {
      border-bottom: 1px dashed $b-link-color;
    }
  }

  .icon_custom {
    display: inline-block;
  }

  .user {
    font-size: 19px;
    margin-right: -2px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
      margin-right: 2px;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  .map {
    font-size: 16px;
    color: $font-color;
    margin-right: 9px;
  }

  .time {
    font-size: 16px;
    margin-right: 5px;
  }
}

.header-center {
  padding: 5px 15px 10px;
  min-height: 76px;
  align-items: center;
  @include media-breakpoint-down(md) {
    min-height: 66px;
    padding-top: 15px;
  }

  &.row-custom {
    .col-md_1 {
      @include media-breakpoint-down(md) {
        flex-basis: 25.88%;
      }
      @include media-breakpoint-down(sm) {
        flex-basis: 46.55%;
      }
    }

    .col-md_2 {
      @include media-breakpoint-down(md) {
        flex-basis: 49.22%;
        padding-right: 0;
      }
    }

    .col-md_3 {
      @include media-breakpoint-down(md) {
        flex-basis: 24.90%;
      }
    }
  }
}

.nav-sm {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 5px;
  padding-bottom: 5px;
  @include media-breakpoint-down(md) {
    padding: 5px 0 0 22px;
  }

  &__item {
    display: flex;
    padding-right: 35px;
    font-size: 14px;
    color: $font-color;
    @include media-breakpoint-down(md) {
      flex-grow: 1;
      padding-right: 0;
      padding-left: 10px;
    }

    &:hover {
      color: $b-link-color-hover;
      transition: $ease-main;
      text-decoration: none;

      .nav-sm__text {
        text-decoration: underline;
      }

      .icon_custom {
        &:before {
          color: inherit;
        }
      }
    }
  }

  .icon_custom {
    display: block;
    margin-right: 7px;
  }

  .pay {
    margin-top: 2px;
    margin-right: 10px;
    font-size: 16px;
  }

  .flower {
    font-size: 17px;
    @include media-breakpoint-down(md) {
      font-size: 15px;
      margin-right: 5px;
      margin-top: 2px;
    }
  }

  .delivery {
    margin-top: 3px;
    @include media-breakpoint-down(md) {
      font-size: 12px;
      margin-top: 5px;
      margin-right: 8px;
    }
  }
}

.navbar {
  padding: 0;
  background: linear-gradient(180deg, #73B640 0%, #448513 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  @include media-breakpoint-down(md) {
    padding-right: 14px;
  }

  &__nav {
    display: flex;
    flex-basis: 100%;
    flex-direction: row nowrap;
    align-items: center;
    height:52px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    flex-grow: 1;
    height: 100%;
    color: #fff;
    position: relative;

    &:not(:first-child) {
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 54.8%;
        top: 0;
        bottom: 0;
        left:: 0;
        margin: auto;
        background-color: rgba(#fff, .5);
      }
    }

    &:hover {
      transition: $ease-main;
      background: linear-gradient(180deg, #50911F 0%, #2F600A 100%);

      .navbar__link {
        color: inherit;
        text-decoration: none;
      }
    }

    &:first-child {
      @include media-breakpoint-down(md) {
        padding-left: 14px;
      }
    }
  }

  &__link {
    display: block;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: inherit;
    padding: 12px 15px;
    @include media-breakpoint-down(lg) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    .icon_custom {
      display: inline-block;
      margin-left: 8px;

      @include media-breakpoint-down(md) {
        font-size: 14px;
        margin-left: 3px;
      }
    }

    .ctrl {
      transform: rotate(180deg);
    }
  }

  &__search {
    height: 100%;
    background: linear-gradient(180deg, #65A732 0%, #3F7D0F 100%);
    @include media-breakpoint-down(md) {
      flex: 0 0 51px;
    }

  }

  &__search-icon {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 19px;
    padding-left: 18px;
    @include media-breakpoint-down(md) {
      padding-left: 5px;
      padding-right: 5px;
    }

    &:hover {
      text-decoration: none;
      transition: $ease-main;
      background: linear-gradient(180deg, #50911F 0%, #2F600A 100%);
    }
    .lens {
      font-size: 20px;
    }
  }

  &__cart {
    flex: 0 0 185px;
    height: 100%;
    color: #fff;
    background: linear-gradient(180deg, #00945D 0%, #007E50 100%), #00A568;
    @include media-breakpoint-down(md) {
      flex: 0 0 52px;
    }
  }

  &__cart-icon {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    height: 100%;
    padding-left: 13px;
    padding-right: 7px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;

    @include media-breakpoint-down(md) {
      padding-left: 2px;
      padding-right: 2px;
      justify-content: center;
    }

    &:hover {
      color: inherit;
      text-decoration: none;
      transition: $ease-main;
      background: linear-gradient(180deg, #50911F 0%, #2F600A 100%);
    }
  }
  .cart {
    font-size: 22px;
    z-index: 1;

    &:before {
      color: inherit;
    }
  }

  .icon-block {
    position: relative;
    display: block;
    margin-right: 25px;
    @include media-breakpoint-down(md) {
      margin-right: 0;
      padding-right: 18px;
    }
  }

  .counter {
    position: absolute;
    width: 22px;
    height: 22px;
    right: -18px;
    top: 0;
    background-color: $red;
    border-radius: 50%;
    color: inherit;
    text-align: center;
    line-height: 22px;
    z-index: 2;

    @include media-breakpoint-down(md) {
      right:0;
    }
  }
}

.navbar-dropdown {
  margin: 0;
  padding: 0;
  border-radius: 0;

  &__link {
    display: block;
    font-size: 14px;
    border-bottom: 1px solid $another-gray;
    padding: 12px 18px;
    color: $dropdown-link-color;

    &:hover {
      background-color: $dropdown-link-hover-bg;
      text-decoration: none;
      color: $dropdown-link-active-color;
    }
  }
}
/* header */
// .burger-btn, .burger-btn:before, .burger-btn:after {
//   position: absolute;
//   top: 50%;
//   left: 2px;
//   height: 3px;
//   width: 23px;
//   background: $green_5;
//   -webkit-transition: all 0.25s;
//   transition: all 0.25s;
// }
// .burger-btn:before {
//   content: '';
//   top: -8px;
//   left: 0;
// }
// .burger-btn:after {
//   content: '';
//   top: 8px;
//   left: 0;
// }
